qookery/docs/form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Qookery - Declarative UI Building for Qooxdoo

	Copyright (c) Ergobyte Informatics S.A., www.ergobyte.gr

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:q="http://www.qookery.org/ns/Form"
		xmlns:xi="http://www.w3.org/2001/XInclude"
		xmlns:xml="http://www.w3.org/XML/1998/namespace"
		targetNamespace="http://www.qookery.org/ns/Form"
		elementFormDefault="qualified">

	<import namespace="http://www.w3.org/2001/XInclude" />
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" />

	<!-- Simple types -->

	<simpleType name="display">
		<restriction base="token">
			<enumeration value="inline" />
			<enumeration value="none" />
		</restriction>
	</simpleType>

	<simpleType name="format-specification">
		<restriction base="string">
			<pattern value="[a-z]+:?.*" />
		</restriction>
	</simpleType>

	<simpleType name="flex">
		<restriction base="nonNegativeInteger" />
	</simpleType>

	<simpleType name="javascript-identifier">
		<restriction base="token">
			<pattern value="[a-zA-Z_$][0-9a-zA-Z_$]*" />
		</restriction>
	</simpleType>

	<simpleType name="horizontal-alignment">
		<restriction base="token">
			<enumeration value="left" />
			<enumeration value="center" />
			<enumeration value="right" />
		</restriction>
	</simpleType>

	<simpleType name="icon-position">
		<restriction base="token">
			<enumeration value="left" />
			<enumeration value="top" />
			<enumeration value="top-left" />
			<enumeration value="right" />
			<enumeration value="bottom" />
			<enumeration value="bottom-left" />
		</restriction>
	</simpleType>

	<simpleType name="orientation">
		<restriction base="token">
			<enumeration value="horizontal" />
			<enumeration value="vertical" />
		</restriction>
	</simpleType>

	<simpleType name="qooxdoo-class-name">
		<restriction base="token">
			<pattern value="([a-zA-Z_$][0-9a-zA-Z_$]*\.)+[A-Z][0-9a-zA-Z_$]*" />
		</restriction>
	</simpleType>

	<simpleType name="row-and-column-count">
		<union memberTypes="integer">
			<simpleType>
				<restriction base="token">
					<enumeration value="auto" />
				</restriction>
			</simpleType>
		</union>
	</simpleType>

	<simpleType name="size">
		<union memberTypes="integer">
			<simpleType>
				<restriction base="token">
					<enumeration value="XXS" />
					<enumeration value="XS" />
					<enumeration value="S" />
					<enumeration value="M" />
					<enumeration value="L" />
					<enumeration value="XL" />
					<enumeration value="XXL" />
				</restriction>
			</simpleType>
		</union>
	</simpleType>

	<simpleType name="tab-index">
		<restriction base="positiveInteger">
			<minInclusive value="1" />
			<maxInclusive value="32000" />
		</restriction>
	</simpleType>

	<simpleType name="vertical-alignment">
		<restriction base="token">
			<enumeration value="top" />
			<enumeration value="middle" />
			<enumeration value="bottom" />
			<enumeration value="baseline" />
		</restriction>
	</simpleType>

	<simpleType name="visibility">
		<restriction base="token">
			<enumeration value="visible" />
			<enumeration value="hidden" />
			<enumeration value="excluded" />
		</restriction>
	</simpleType>

	<!-- Global attributes -->

	<attribute name="flex" type="q:flex"><annotation><documentation>
		The relative weight for computing the size of the user interface holding element's contents
	</documentation></annotation></attribute>

	<attribute name="format" type="q:format-specification"><annotation><documentation>
		A specification for creating the formatter to attach to element
	</documentation></annotation></attribute>

	<attribute name="icon" type="anyURI"><annotation><documentation>
		The URI of the icon to use when presenting element
	</documentation></annotation></attribute>

	<attribute name="map" type="token"><annotation><documentation>
		The symbolic name of a registered map to associate with element
	</documentation></annotation></attribute>

	<attribute name="read-only" type="boolean"><annotation><documentation>
		If set, associated element's value may not be modified through its user interface
	</documentation></annotation></attribute>

	<attribute name="tool-tip-text" type="string"><annotation><documentation>
		Text to associate with element that may be used when a tool tip needs to appear
	</documentation></annotation></attribute>

	<!-- Component attributes -->

	<complexType name="component.attributes">
		<!-- Identity -->
		<attribute name="id" type="ID" />
		<!-- Properties -->
		<attribute name="label" type="string" />
		<attribute name="enabled" type="boolean" default="true" />
		<attribute name="visibility" type="q:visibility" default="visible" />
		<attribute name="text-color" type="string" default="black" />
		<attribute name="background-color" type="string" default="white" />
		<attribute name="display" type="q:display" default="inline" />
		<attribute name="tab-index" type="q:tab-index" />
		<!-- Layout item -->
		<attribute name="width" type="q:size">
			<annotation><documentation>
				Component preferred width in pixels or as one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="height" type="q:size">
			<annotation><documentation>
				Component preferred height in pixels or as one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="min-width" type="q:size">
			<annotation><documentation>
				Component minimum width in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="min-height" type="q:size">
			<annotation><documentation>
				Component minimum height in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="max-width" type="q:size">
			<annotation><documentation>
				Component maximum width in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="max-height" type="q:size">
			<annotation><documentation>
				Component maximum height in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="margin-top" type="integer" default="0" />
		<attribute name="margin-right" type="integer" default="0" />
		<attribute name="margin-bottom" type="integer" default="0" />
		<attribute name="margin-left" type="integer" default="0" />
		<attribute name="margin"><simpleType><list itemType="integer" /></simpleType></attribute>
		<attribute name="native-context-menu" type="boolean" />
		<attribute name="allow-stretch-x" type="boolean" default="true" />
		<attribute name="allow-stretch-y" type="boolean" default="true" />
		<attribute name="allow-stretch" type="boolean" default="true" />
		<attribute name="align-x" type="q:horizontal-alignment">
			<annotation><documentation>
				Horizontal alignment for component positioning purposes
			</documentation></annotation>
		</attribute>
		<attribute name="align-y" type="q:vertical-alignment">
			<annotation><documentation>
				Vertical alignment for component positioning purposes
			</documentation></annotation>
		</attribute>
		<!-- Widget -->
		<attribute name="appearance" type="string" />
		<attribute name="cursor" type="string" />
		<attribute name="decorator" type="string" />
		<attribute name="font" type="string" />
		<attribute name="padding-top" type="nonNegativeInteger" default="0" />
		<attribute name="padding-right" type="nonNegativeInteger" default="0" />
		<attribute name="padding-bottom" type="nonNegativeInteger" default="0" />
		<attribute name="padding-left" type="nonNegativeInteger" default="0" />
		<attribute name="padding"><simpleType><list itemType="nonNegativeInteger" /></simpleType></attribute>
		<attribute name="tool-tip-text" type="string" />
		<attribute name="tool-tip-icon" type="anyURI" />
		<!-- Grid layout data -->
		<attribute name="row-span" type="integer" default="1" />
		<attribute name="col-span" type="integer" default="1" />
		<!-- Parsing flow -->
		<attribute name="skip-if" type="string" />
	</complexType>

	<complexType name="atom-component.attributes"><complexContent><extension base="q:component.attributes">
		<attribute name="center" type="boolean" default="false" />
		<attribute name="icon" type="anyURI" />
		<attribute name="icon-position" type="q:icon-position" default="left" />
		<attribute name="rich" type="boolean" default="false" />
	</extension></complexContent></complexType>

	<complexType name="container-component.attributes"><complexContent><extension base="q:component.attributes">
		<attribute name="row-count" type="q:row-and-column-count" default="auto" />
		<attribute name="column-count" type="q:row-and-column-count" default="1" />
		<attribute name="spacing-x" type="integer" default="10" />
		<attribute name="spacing-y" type="integer" default="10" />
		<attribute name="spacing" type="integer" default="10" />
		<attribute name="row-flexes"><simpleType><list itemType="q:flex" /></simpleType></attribute>
		<attribute name="column-flexes"><simpleType><list itemType="q:flex" /></simpleType></attribute>
		<attribute name="row-alignments"><simpleType><list><simpleType><union memberTypes="q:horizontal-alignment q:vertical-alignment" /></simpleType></list></simpleType></attribute>
		<attribute name="column-alignments"><simpleType><list><simpleType><union memberTypes="q:horizontal-alignment q:vertical-alignment" /></simpleType></list></simpleType></attribute>
	</extension></complexContent></complexType>

	<complexType name="editable-component.attributes"><complexContent><extension base="q:component.attributes">
		<attribute name="connect" type="string" />
		<attribute name="create-label" type="boolean" default="true">
			<annotation><documentation>
				When set, an additional widget will be created in order to hold component's label
			</documentation></annotation>
		</attribute>
		<attribute name="format" type="q:format-specification" />
		<attribute name="live-validate" default="false">
			<annotation><documentation>
				When set, component's value changes will automatically trigger component or form validation
			</documentation></annotation>
			<simpleType><restriction base="token">
				<enumeration value="false">
					<annotation><documentation>Live validation disabled</documentation></annotation>
				</enumeration>
				<enumeration value="component">
					<annotation><documentation>Validate component on value changes</documentation></annotation>
				</enumeration>
				<enumeration value="form">
					<annotation><documentation>Validate form on value changes</documentation></annotation>
				</enumeration>
			</restriction></simpleType>
		</attribute>
		<attribute name="read-only" type="boolean" default="false" />
		<attribute name="required" type="boolean" default="false" />
	</extension></complexContent></complexType>

	<complexType name="field-component.attributes"><complexContent><extension base="q:editable-component.attributes">
		<attribute name="filter" type="string" />
		<attribute name="live-update" type="boolean" default="false" />
		<attribute name="max-length" type="integer" />
		<attribute name="placeholder" type="string" />
		<attribute name="text-align" type="q:horizontal-alignment" />
	</extension></complexContent></complexType>

	<!-- Component types -->

	<complexType name="component"><complexContent><extension base="q:component.attributes">
		<sequence>
			<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</extension></complexContent></complexType>

	<complexType name="container-component"><complexContent><extension base="q:container-component.attributes">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element ref="q:script" />
			<group ref="q:components" />
			<any namespace="##other" />
		</choice>
	</extension></complexContent></complexType>

	<complexType name="editable-component"><complexContent><extension base="q:editable-component.attributes">
		<sequence>
			<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</extension></complexContent></complexType>

	<complexType name="atom-component"><complexContent><extension base="q:atom-component.attributes">
		<sequence>
			<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</extension></complexContent></complexType>

	<complexType name="field-component"><complexContent><extension base="q:field-component.attributes">
		<sequence>
			<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</extension></complexContent></complexType>

	<!-- Component elements -->

	<group name="components">
		<annotation><documentation>Index of all components defined by Qookery</documentation></annotation>
		<choice>
			<element ref="q:button" />
			<element ref="q:check-field" />
			<element ref="q:component" />
			<element ref="q:composite" />
			<element ref="q:date-field" />
			<element ref="q:form" />
			<element ref="q:group-box" />
			<element ref="q:hover-button" />
			<element ref="q:html" />
			<element ref="q:iframe" />
			<element ref="q:image" />
			<element ref="q:label" />
			<element ref="q:list" />
			<element ref="q:password-field" />
			<element ref="q:progress-bar" />
			<element ref="q:radio-button-group" />
			<element ref="q:radio-button" />
			<element ref="q:scroll" />
			<element ref="q:select-box" />
			<element ref="q:separator" />
			<element ref="q:slider" />
			<element ref="q:spacer" />
			<element ref="q:spinner" />
			<element ref="q:split-pane" />
			<element ref="q:stack" />
			<element ref="q:tab-view-page" />
			<element ref="q:tab-view" />
			<element ref="q:table" />
			<element ref="q:text-area" />
			<element ref="q:text-field" />
			<element ref="q:toggle-button" />
			<element ref="q:tool-bar" />
			<element ref="q:virtual-tree" />
		</choice>
	</group>

	<element name="button"><complexType><complexContent><extension base="q:atom-component">
		<attribute name="command" type="token" />
	</extension></complexContent></complexType></element>

	<element name="check-field"><complexType><complexContent><extension base="q:editable-component">
		<attribute name="tri-state" type="boolean" default="false" />
	</extension></complexContent></complexType></element>

	<element name="component"><complexType><complexContent><extension base="q:component">
		<attribute name="type" type="string" use="required" />
		<anyAttribute namespace="##any" />
	</extension></complexContent></complexType></element>

	<element name="composite" type="q:container-component" />

	<element name="date-field"><complexType><complexContent><extension base="q:editable-component">
		<attribute name="placeholder" type="string" />
		<attribute name="input-specification" type="string" />
	</extension></complexContent></complexType></element>

	<element name="form"><complexType><complexContent><extension base="q:container-component.attributes">
		<sequence>
			<element name="import" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>
					Import a Qooxdoo class within the form's scripting context
				</documentation></annotation>
				<complexType>
					<attribute name="class" type="q:qooxdoo-class-name" use="required">
						<annotation><documentation>
							The name of the Qooxdoo class to import
						</documentation></annotation>
					</attribute>
					<attribute name="key" type="q:javascript-identifier">
						<annotation><documentation>
							The name of the property to create in the scripting context -
							if not set, the part of the class name after the last dot character
							will be used.
						</documentation></annotation>
					</attribute>
				</complexType>
			</element>
			<element name="bind" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>
					Bind a URI to a prefix for scripting and data binding purposes
				</documentation></annotation>
				<complexType>
					<attribute name="prefix" type="token" use="required" />
					<attribute name="uri" type="anyURI" use="required" />
				</complexType>
			</element>
			<element ref="q:translation" minOccurs="0" maxOccurs="unbounded" />
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="q:script" />
				<group ref="q:components" />
				<any namespace="##other" />
			</choice>
		</sequence>
		<attribute ref="xml:base" />
		<attribute name="translation-prefix" />
		<attribute name="title" />
		<attribute name="icon" type="anyURI" />
		<attribute name="model-provider" type="token" />
	</extension></complexContent></complexType></element>

	<element name="group-box"><complexType><complexContent><extension base="q:container-component">
		<attribute name="legend-position" default="middle"><simpleType><restriction base="token">
			<enumeration value="middle" />
			<enumeration value="top" />
		</restriction></simpleType></attribute>
	</extension></complexContent></complexType></element>

	<element name="hover-button"><complexType><complexContent><extension base="q:atom-component.attributes">
		<attribute name="interval" type="positiveInteger" />
	</extension></complexContent></complexType></element>

	<element name="html"><complexType><complexContent><extension base="q:component">
		<attribute name="html" type="string" />
	</extension></complexContent></complexType></element>

	<element name="iframe"><complexType><complexContent><extension base="q:component">
		<attribute name="source" type="string" />
	</extension></complexContent></complexType></element>

	<element name="image"><complexType><complexContent><extension base="q:component">
		<attribute name="source" type="anyURI" />
		<attribute name="scale" type="boolean" default="false" />
	</extension></complexContent></complexType></element>

	<element name="label"><complexType><complexContent><extension base="q:component">
		<attribute name="icon" type="anyURI" />
		<attribute name="rich" type="boolean" default="false" />
		<attribute name="text-align" type="q:horizontal-alignment" />
		<attribute name="wrap" type="boolean" default="true" />
	</extension></complexContent></complexType></element>

	<element name="list"><complexType><complexContent><extension base="q:editable-component">
		<attribute name="scrollbarY" default="auto" >
			<simpleType><restriction base="token">
				<enumeration value="auto" />
				<enumeration value="false" />
				<enumeration value="true" />
			</restriction></simpleType>
		</attribute>
		<attribute name="selectionMode" default="single">
			<simpleType><restriction base="token">
				<enumeration value="additive" />
				<enumeration value="multi" />
				<enumeration value="single" />
			</restriction></simpleType>
		</attribute>
	</extension></complexContent></complexType></element>

	<element name="password-field" type="q:field-component" />

	<element name="progress-bar"><complexType><complexContent><extension base="q:component">
		<attribute name="maximum" type="double" />
		<attribute name="value" type="double" />
	</extension></complexContent></complexType></element>

	<element name="radio-button"><complexType><complexContent><extension base="q:atom-component">
		<attribute name="model" type="string" />
	</extension></complexContent></complexType></element>

	<element name="radio-button-group"><complexType><complexContent><extension base="q:editable-component.attributes">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element ref="q:script" />
			<element ref="q:radio-button" />
			<element ref="q:toggle-button" />
		</choice>
		<attribute name="allow-empty-selection" type="boolean" default="false" />
		<attribute name="orientation" type="q:orientation" default="horizontal" />
		<attribute name="spacing" type="nonNegativeInteger" default="5" />
	</extension></complexContent></complexType></element>

	<element name="scroll" type="q:container-component" />

	<element name="select-box"><complexType><complexContent><extension base="q:editable-component">
		<attribute name="map" type="token"><annotation><documentation>
			The symbolic name of a map registered with the Qookery registry
		</documentation></annotation></attribute>
		<attribute name="null-item-label" type="string" />
		<attribute name="keep-sorted" type="boolean" default="true"><annotation><documentation>
			If true, the select box items will be kept sorted in ascending order at all times
		</documentation></annotation></attribute>
	</extension></complexContent></complexType></element>

	<element name="separator"><complexType><complexContent><extension base="q:component">
		<attribute name="variant" default="horizontal"><simpleType><restriction base="token">
			<enumeration value="horizontal" />
			<enumeration value="vertical" />
		</restriction></simpleType></attribute>
	</extension></complexContent></complexType></element>

	<element name="slider"><complexType><complexContent><extension base="q:editable-component">
		<attribute name="maximum" type="integer" default="100" />
		<attribute name="minimum" type="integer" default="0" />
		<attribute name="orientation" default="horizontal"><simpleType><restriction base="token">
			<enumeration value="horizontal" />
			<enumeration value="vertical" />
		</restriction></simpleType></attribute>
		<attribute name="page-step" type="integer" default="10" />
		<attribute name="single-step" type="integer" default="1" />
	</extension></complexContent></complexType></element>

	<element name="spacer" type="q:component" />

	<element name="spinner"><complexType><complexContent><extension base="q:editable-component">
		<attribute name="maximum" type="integer" default="100" />
		<attribute name="minimum" type="integer" default="0" />
		<attribute name="page-step" type="integer" default="10" />
		<attribute name="single-step" type="decimal" default="1" />
		<attribute name="text-align" type="q:horizontal-alignment" />
	</extension></complexContent></complexType></element>

	<element name="split-pane"><complexType><complexContent><extension base="q:container-component">
		<attribute name="orientation" type="q:orientation" default="horizontal" />
	</extension></complexContent></complexType></element>

	<element name="stack"><complexType><complexContent><extension base="q:container-component">
		<attribute name="dynamic" type="boolean" />
	</extension></complexContent></complexType></element>

	<element name="tab-view" type="q:container-component" />

	<element name="tab-view-page" type="q:container-component" />

	<element name="table"><complexType><complexContent><extension base="q:editable-component.attributes">
		<sequence>
			<element ref="q:table-model" minOccurs="0" maxOccurs="1" />
			<element ref="q:table-column" minOccurs="0" maxOccurs="unbounded" />
			<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="column-visibility-button-visible" type="boolean" default="true" />
		<attribute name="row-height" type="integer" default="20" />
		<attribute name="show-cell-focus-indicator" type="boolean" default="true" />
		<attribute name="status-bar-visible" type="boolean" default="true" />
	</extension></complexContent></complexType></element>

	<element name="text-area"><complexType><complexContent><extension base="q:field-component">
		<attribute name="auto-size" type="boolean" default="false" />
		<attribute name="minimal-line-height" type="integer" default="4" />
		<attribute name="single-step" type="integer" default="20" />
		<attribute name="wrap" type="boolean" default="true" />
	</extension></complexContent></complexType></element>

	<element name="text-field" type="q:field-component" />

	<element name="toggle-button"><complexType><complexContent><extension base="q:atom-component">
		<attribute name="model" type="string" />
		<attribute name="tri-state" type="boolean" default="false" />
	</extension></complexContent></complexType></element>

	<element name="tool-bar" type="q:container-component" />

	<element name="virtual-tree"><complexType><complexContent><extension base="q:editable-component.attributes">
		<sequence>
			<element name="virtual-tree-delegate" minOccurs="0" maxOccurs="1"><complexType>
				<attribute name="class" type="string" use="required" />
				<anyAttribute namespace="##other" />
			</complexType></element>
			<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="child-property" type="string" />
		<attribute name="hide-root" type="boolean" default="false" />
		<attribute name="icon-path" type="string" />
		<attribute name="label-path" type="string" />
	</extension></complexContent></complexType></element>

	<!-- Custom elements referenced as children of component elements -->

	<element name="table-model"><complexType>
		<attribute name="class" type="string" use="required" />
		<anyAttribute namespace="##other" />
	</complexType></element>

	<element name="table-column"><complexType>
		<attribute name="color" type="string" />
		<attribute name="connect" type="string" />
		<attribute name="flex" type="q:flex" />
		<attribute name="font-family" />
		<attribute name="font-style" />
		<attribute name="font-weight" />
		<attribute name="format" type="q:format-specification" />
		<attribute name="header-icon" type="string" />
		<attribute name="header-click" type="string" />
		<attribute name="label" type="string" />
		<attribute name="line-height" type="string" />
		<attribute name="map" type="token" />
		<attribute name="max-width" type="q:size" />
		<attribute name="min-width" type="q:size" />
		<attribute name="sortable" type="boolean" default="true" />
		<attribute name="text-align" type="q:horizontal-alignment" default="left" />
		<attribute name="tool-tip-text" type="string" />
		<attribute name="width" type="string" />
		<attribute name="white-space" type="string" />
	</complexType></element>

	<!-- Statement elements -->

	<element name="script">
		<annotation><documentation>
			Add a JavaScript script to component
		</documentation></annotation>
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="action" type="token"><annotation><documentation>
						The name of the action the script is a handler for.
						Mutually exclusive with <code>event</code> and <code>name</code>.
					</documentation></annotation></attribute>
					<attribute name="arguments"><annotation><documentation>
						A list of JavaScript argument names to use for generated function body
					</documentation></annotation><simpleType><list itemType="q:javascript-identifier" /></simpleType></attribute>
					<attribute name="component" type="token"><annotation><documentation>
						The identifier of a previously registered component. If undefined, the
						enclosing component will receive the script.
					</documentation></annotation></attribute>
					<attribute name="event"><annotation><documentation>
						The name(s) of the component's event(s) the script should be attached to.
						Mutually exclusive with <code>action</code> and <code>name</code>.
					</documentation></annotation><simpleType><list itemType="token" /></simpleType></attribute>
					<attribute name="name" type="q:javascript-identifier"><annotation><documentation>
						The name of the function to register into the form context ("$") for later execution of script.
						Mutually exclusive with <code>action</code> and <code>event</code>.
					</documentation></annotation></attribute>
					<attribute name="once" type="boolean" default="false"><annotation><documentation>
						Remove the script from the component after it has been run once (implemented only for "event" scripts)
					</documentation></annotation></attribute>
					<attribute name="source" type="anyURI"><annotation><documentation>
						The URL to the script that will be attached.
					</documentation></annotation></attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<element name="translation">
		<annotation><documentation>
			Provide an addition translation to the Qooxdoo locale manager
		</documentation></annotation>
		<complexType>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="unbounded">
					<annotation><documentation>
						A translated message
					</documentation></annotation>
					<complexType mixed="true">
						<attribute name="id" use="required" />
					</complexType>
				</element>
			</sequence>
			<attribute ref="xml:lang" use="required" />
		</complexType>
	</element>

</schema>
