qookery/docs/form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Qookery - Declarative UI Building for Qooxdoo

	Copyright (c) Ergobyte Informatics S.A., www.ergobyte.gr

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.

	$Id$
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:q="http://www.qookery.org/ns/Form"
		xmlns:xi="http://www.w3.org/2001/XInclude"
		xmlns:xml="http://www.w3.org/XML/1998/namespace"
		targetNamespace="http://www.qookery.org/ns/Form"
		elementFormDefault="qualified">

	<import namespace="http://www.w3.org/2001/XInclude" />
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" />

	<!-- Simple types -->
	
	<simpleType name='visibility' >
		<restriction base="token">
			<enumeration value='visible' />
			<enumeration value='hidden' />
			<enumeration value='excluded' />
		</restriction>
	</simpleType>
	
	<simpleType name='icon-position' >
		<restriction base="token">
			<enumeration value='left' />
			<enumeration value='top' />
			<enumeration value='top-left' />
			<enumeration value='right' />
			<enumeration value='bottom' />
			<enumeration value='bottom-left' />
		</restriction>
	</simpleType>

	<simpleType name='horizontal-alignment' >
		<restriction base="token">
			<enumeration value='left' />
			<enumeration value='center' />
			<enumeration value='right' />
		</restriction>
	</simpleType>

	<simpleType name='vertical-alignment' >
		<restriction base="token">
			<enumeration value='top' />
			<enumeration value='middle' />
			<enumeration value='bottom' />
			<enumeration value='baseline' />
		</restriction>
	</simpleType>

	<simpleType name='size'>
		<union memberTypes="integer">
			<simpleType>
				<restriction base="token">
					<enumeration value='XXS' />
					<enumeration value='XS' />
					<enumeration value='S' />
					<enumeration value='M' />
					<enumeration value='L' />
					<enumeration value='XL' />
					<enumeration value='XXL' />
				</restriction>
			</simpleType>
		</union>
	</simpleType>

	<simpleType name='row-and-column-count'>
		<union memberTypes="integer">
			<simpleType>
				<restriction base="token">
					<enumeration value='auto' />
				</restriction>
			</simpleType>
		</union>
	</simpleType>

	<simpleType name='display'>
		<restriction base="token">
			<enumeration value='inline' />
			<enumeration value='none' />
		</restriction>
	</simpleType>

	<!-- Element groups -->

	<group name="components">
		<choice>
			<element ref="q:button" />
			<element ref="q:check-box" />
			<element ref="q:component" />
			<element ref="q:composite" />
			<element ref="q:date-field" />
			<element ref="q:form" />
			<element ref="q:group-box" />
			<element ref="q:html" />
			<element ref="q:image" />
			<element ref="q:label" />
			<element ref="q:list" />
			<element ref="q:password-field" />
			<element ref="q:radio-button-group" />
			<element ref="q:select-box" />
			<element ref="q:separator" />
			<element ref="q:slider" />
			<element ref="q:spinner" />
			<element ref="q:stack" />
			<element ref="q:tab-view" />
			<element ref="q:tab-view-page" />
			<element ref="q:table" />
			<element ref="q:text-area" />
			<element ref="q:text-field" />
			<any namespace="##other" />
		</choice>
	</group>

	<!-- Base component type -->
	
	<complexType name="component">
		<complexContent>
			<extension base="q:component-attributes">
				<sequence>
					<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="component-attributes" abstract="true">
		<!-- Identity -->
		<attribute name="id" type="ID" />
		<!-- Properties -->
		<attribute name="label" type="string" />
		<attribute name="enabled" type="boolean" default="true" />
		<attribute name="visibility" type="q:visibility" default="visible" />
		<attribute name="text-color" type="string" default="black" />
		<attribute name="background-color" type="string" default="white" />
		<attribute name="display" type="q:display" default="inline" />
		<!-- Layout item -->
		<attribute name="width" type="q:size">
			<annotation><documentation>
				Component preferred width in pixels or as one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="height" type="q:size">
			<annotation><documentation>
				Component preferred height in pixels or as one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="min-width" type="q:size">
			<annotation><documentation>
				Component minimum width in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="min-height" type="q:size">
			<annotation><documentation>
				Component minimum height in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="max-width" type="q:size">
			<annotation><documentation>
				Component maximum width in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="max-height" type="q:size">
			<annotation><documentation>
				Component maximum height in pixels or one of the named sizes.
			</documentation></annotation>
		</attribute>
		<attribute name="margin-top" type="integer" default="0" />
		<attribute name="margin-right" type="integer" default="0" />
		<attribute name="margin-bottom" type="integer" default="0" />
		<attribute name="margin-left" type="integer" default="0" />
		<attribute name="margin"><simpleType><list itemType="integer" /></simpleType></attribute>
		<attribute name="stretch-x" type="boolean" default="true" />
		<attribute name="stretch-y" type="boolean" default="true" />
		<attribute name="stretch" type="boolean" default="true" />
		<attribute name="alignment-x" type="q:horizontal-alignment">
			<annotation><documentation>
				Horizontal alignment for component positioning purposes
			</documentation></annotation>
		</attribute>
		<attribute name="alignment-y" type="q:vertical-alignment">
			<annotation><documentation>
				Vertical alignment for component positioning purposes
			</documentation></annotation>
		</attribute>
		<!-- Widget -->
		<attribute name="appearance" type="string" />
		<attribute name="decorator" type="string" />
		<attribute name="font" type="string" />
		<attribute name="padding-top" type="integer" default="0" />
		<attribute name="padding-right" type="integer" default="0" />
		<attribute name="padding-bottom" type="integer" default="0" />
		<attribute name="padding-left" type="integer" default="0" />
		<attribute name="padding"><simpleType><list itemType="integer" /></simpleType></attribute>
		<attribute name="tooltip-text" type="string" />
		<attribute name="tooltip-icon" type="anyURI" />
		<!-- Grid layout data -->
		<attribute name="row-span" type="integer" default="1" />
		<attribute name="column-span" type="integer" default="1" />
		<!-- Parsing flow -->
		<attribute name="skip-if" type="string" />
	</complexType>

	<!-- Container component type -->

	<complexType name="container-component">
		<complexContent>
			<extension base="q:container-component-attributes">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element ref="q:script" />
						<group ref="q:components" />
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="container-component-attributes" abstract="true">
		<complexContent>
			<extension base="q:component-attributes">
				<attribute name="row-count" type="q:row-and-column-count" default="auto" />
				<attribute name="column-count" type="q:row-and-column-count" default="1" />
				<attribute name="spacing-x" type="integer" default="10" />
				<attribute name="spacing-y" type="integer" default="10" />
				<attribute name="spacing" type="integer" default="10" />
				<attribute name="row-flexes"><simpleType><list itemType="integer" /></simpleType></attribute>
				<attribute name="column-flexes"><simpleType><list itemType="integer" /></simpleType></attribute>
				<attribute name="row-alignments"><simpleType><list><simpleType><union memberTypes="q:horizontal-alignment q:vertical-alignment" /></simpleType></list></simpleType></attribute>
				<attribute name="column-alignments"><simpleType><list><simpleType><union memberTypes="q:horizontal-alignment q:vertical-alignment" /></simpleType></list></simpleType></attribute>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Editable component type -->

	<complexType name="editable-component">
		<complexContent>
			<extension base="q:editable-component-attributes">
				<sequence>
					<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="editable-component-attributes" abstract="true">
		<complexContent>
			<extension base="q:component-attributes">
				<attribute name="connect" type="string" />
				<attribute name="format" type="string" />
				<attribute name="read-only" type="boolean" default="false" />
				<attribute name="required" type="boolean" default="false" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Atom component type -->

	<complexType name="atom-component">
		<complexContent>
			<extension base="q:component-attributes">
				<sequence>
					<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
				<attribute name="center" type="boolean" default="false" />
				<attribute name="icon" type="anyURI" />
				<attribute name="icon-position" type="q:icon-position" default="left" />
				<attribute name="rich" type="boolean" default="false" />
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Field component type -->

	<complexType name="field-component">
		<complexContent>
			<extension base="q:editable-component">
				<attribute name="filter" type="string" />
				<attribute name="live-update" type="boolean" default="false" />
				<attribute name="max-length" type="integer" />
				<attribute name="placeholder" type="string" />
				<attribute name="text-align" type="q:horizontal-alignment" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Statement elements -->
	
	<element name="import">
		<annotation><documentation>
			Import a Qooxdoo class within the form's scripting context
		</documentation></annotation>
		<complexType>
			<attribute name="class" type="token" use="required">
				<annotation><documentation>
					The name of the Qooxdoo class to import
				</documentation></annotation>
			</attribute>
			<attribute name="key" type="token">
				<annotation><documentation>
					The name of the property to create in the scripting context - 
					if not set, the part of the class name after the last dot character
					will be used.
				</documentation></annotation>
			</attribute>
		</complexType>
	</element>

	<element name="bind">
		<annotation><documentation>
			Bind a URI to a prefix for scripting and data binding purposes
		</documentation></annotation>
		<complexType>
			<attribute name="prefix" type="token" use="required" />
			<attribute name="uri" type="anyURI" use="required" />
		</complexType>
	</element>

	<element name="translation">
		<annotation><documentation>
			Provide an addition translation to the Qooxdoo locale manager
		</documentation></annotation>
		<complexType>
			<sequence>
				<element ref="q:message" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
			<attribute ref="xml:lang" use="required" />
		</complexType>
	</element>

	<element name="message">
		<annotation><documentation>
			A translated message
		</documentation></annotation>
		<complexType mixed="true">
			<attribute name="id" use="required" />
		</complexType>
	</element>

	<element name="script">
		<annotation><documentation>
			Add a JavaScript script to component
		</documentation></annotation>
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="component" type="token">
						<annotation><documentation>
							The identifier of a previously registered component. If undefined, the
							enclosing component will receive the script.
						</documentation></annotation>
					</attribute>
					<attribute name="event" type="token">
						<annotation><documentation>
							The name of the component's event the script should be attached to.
						</documentation></annotation>
					</attribute>
					<attribute name="action" type="token">
						<annotation><documentation>
							The name of the action the script is a handler for.
						</documentation></annotation>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>

	<!-- Specialized component elements -->

	<element name="button" type="q:atom-component" />

	<element name="check-box" type="q:editable-component" />

	<element name="component">
		<complexType>
			<complexContent>
				<extension base="q:component">
					<attribute name="type" type="string" use="required" />
					<anyAttribute namespace="##any" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="composite" type="q:container-component" />

	<element name="date-field">
		<complexType>
			<complexContent>
				<extension base="q:editable-component">
					<attribute name="placeholder" type="string" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="form">
		<complexType>
			<complexContent>
				<extension base="q:container-component-attributes">
					<sequence>
						<element ref="q:import" minOccurs="0" maxOccurs="unbounded" />
						<element ref="q:bind" minOccurs="0" maxOccurs="unbounded" />
						<element ref="q:translation" minOccurs="0" maxOccurs="unbounded" />
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="q:script" />
							<group ref="q:components" />
						</choice>
					</sequence>
					<attribute ref="xml:base" />
					<attribute name="translation-prefix" />
					<attribute name="title" />
					<attribute name="icon" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="group-box">
		<complexType>
			<complexContent>
				<extension base="q:container-component">
					<attribute name="legend-position" type="string" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="html">
		<complexType>
			<complexContent>
				<extension base="q:component">
					<attribute name="html" type="string" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="image">
		<complexType>
			<complexContent>
				<extension base="q:component">
					<attribute name="source" type="anyURI" />
					<attribute name="scale" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="label">
		<complexType>
			<complexContent>
				<extension base="q:component">
					<attribute name="icon" type="anyURI" />
					<attribute name="rich" type="boolean" default="false" />
					<attribute name="wrap" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<element name="list" type="q:editable-component" />

	<element name="password-field" type="q:field-component" />

	<element name="radio-button">
		<complexType>
			<complexContent>
				<extension base="q:atom-component">
					<attribute name="model" type="string" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="radio-button-group">
		<complexType>
			<complexContent>
				<extension base="q:editable-component-attributes">
					<choice minOccurs="0" maxOccurs="unbounded">
						<element ref="q:script" />
						<element ref="q:radio-button" />
					</choice>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="select-box">
		<complexType>
			<complexContent>
				<extension base="q:editable-component">
					<attribute name="null-item-label" type="string" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="separator" type="q:component" />

	<element name="slider">
		<complexType>
			<complexContent>
				<extension base="q:editable-component">
					<attribute name="maximum" type="integer" default="100" />
					<attribute name="minimum" type="integer" default="0" />
					<attribute name="orientation" default="horizontal"><simpleType><restriction base="token">
						<enumeration value="horizontal" />
						<enumeration value="vertical" />
					</restriction></simpleType></attribute>
					<attribute name="page-step" type="integer" default="10" />
					<attribute name="single-step" type="integer" default="1" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="spinner">
		<complexType>
			<complexContent>
				<extension base="q:editable-component">
					<attribute name="maximum" type="integer" default="100" />
					<attribute name="minimum" type="integer" default="0" />
					<attribute name="page-step" type="integer" default="10" />
					<attribute name="single-step" type="decimal" default="1" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="stack">
		<complexType>
			<complexContent>
				<extension base="q:container-component">
					<attribute name="dynamic" type="boolean" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<element name="tab-view" type="q:container-component" />

	<element name="tab-view-page" type="q:container-component" />

	<element name="table">
		<complexType>
			<complexContent>
				<extension base="q:editable-component-attributes">
					<sequence>
						<element name="table-column" minOccurs="0" maxOccurs="unbounded"><complexType>
							<attribute name="color" type="string" />
							<attribute name="connect" type="string" />
							<attribute name="flex" type="integer" />
							<attribute name="font-style" />
							<attribute name="font-weight" />
							<attribute name="format" type="string" />
							<attribute name="header-icon" type="string" />
							<attribute name="header-click" type="string" />
							<attribute name="label" type="string" />
							<attribute name="line-height" type="string" />
							<attribute name="min-width" type="q:size" />
							<attribute name="max-width" type="q:size" />
							<attribute name="sortable" type="boolean" default="true" />
							<attribute name="text-align" type="q:horizontal-alignment" default="left" />
							<attribute name="width" type="string" />
							<attribute name="white-space" type="string" />
						</complexType></element>
						<element name="table-model" minOccurs="0" maxOccurs="1"><complexType>
							<attribute name="class" type="string" use="required" />
							<anyAttribute namespace="##other" />
						</complexType></element>
						<element ref="q:script" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="row-height" type="integer" default="20" />
					<attribute name="column-visibility-button-visible" type="boolean" default="true" />
					<attribute name="status-bar-visible" type="boolean" default="true" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="text-area">
		<complexType>
			<complexContent>
				<extension base="q:field-component">
					<attribute name="auto-size" type="boolean" default="false" />
					<attribute name="minimal-line-height" type="integer" default="4" />
					<attribute name="single-step" type="integer" default="20" />
					<attribute name="wrap" type="boolean" default="true" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="text-field" type="q:field-component" />

</schema>
